<h1><%= fa_icon "unlock-alt", text: "Log In" %></h1>

<%= render 'form' %>
<br>
<div class="btn-group btn-background-white" role="group">
    <%= button_to '/auth/auth0', method: :post, class: 'btn-fb mt-1' do %>
        <%= fa_icon "facebook", text: "Log In with", right: true %>
    <% end %>
    <%= button_to '/auth/auth0', method: :post, class: 'btn-googl mt-1 ml-3' do %>
        <span class="btn-background-white"><%= fa_icon "google", text: "Log In with", right: true %></span>
    <% end %>
</div>
<br>
<br>
<p>Don't have an account? Sign up <span class="text-blue"><%= link_to "here!", "/users/new" %></span></p>
<span class="text-blue"><%= link_to "Forgot Password", new_password_reset_path %></span>