<h1><%= fa_icon "unlock-alt", text: "Log In" %></h1>

<%= render 'form' %>
<div class="btn-group mt-2 mb-2" role="group">
    <%= button_to '/auth/auth0', method: :post, class: 'btn btn-outline-primary mt-1' do %>
        <%= fa_icon "facebook", text: "Log In with", right: true %>
    <% end %>
    <%= button_to '/auth/auth0', method: :post, class: 'btn btn-outline-danger mt-1' do %>
        <%= fa_icon "google", text: "Log In with", right: true %>
    <% end %>
</div>

<p>Don't have an account? Sign up <span class="text-blue"><%= link_to "here!", "/users/new" %></span></p>
<span class="text-blue"><%= link_to "Forgot Password", new_password_reset_path %></span>