<div class="card">
    <h5 class="card-header"><%= fa_icon "comments", text: "Your Activity" %></h5>
    <div class="card-body">
        <% Post.all.where(user_id: current_user.id).each do | post | %>
            <h5 class="card-title">
                <%= post.title %>
            </h5>
            <p>
                <%= link_to(post) do %>
                    <%= fa_icon "info-circle", text: "Show" %>
                <% end %>
                <%= link_to(edit_post_path(post)) do %>
                    <%= fa_icon "pencil", text: "Edit" %>
                <% end %>
                <%= link_to(post, method: :delete, data: {confirm: "Are you sure that you want to delete this?"}) do %>
                    <%= fa_icon "bomb", text: "Delete" %>
                <% end %>
            </p>
        <% end %>
    </div>
</div>

