<div class="card">
    <h5 class="card-header"><%= fa_icon "handshake-o", text: "Your Matches" %></h5>
    <div class="card-body">
        <% matches = Match.all.where(user1_id: current_user.id).or(Match.all.where(user2_id: current_user.id))%>
        <% matches.each do | match | %>
            <h5 class="card-title">
                <% if match.user1_id == current_user.id %>
                    <%= User.find(match.user2_id).first_name %> 
                <% else %>
                    <%= User.find(match.user1_id).first_name %>
                <% end %>
            </h5>
            <p>
                <% Post.all.where(id: match.post_id).each do |post| %>
                    <%= post.title %>
                <% end %>
            </p>
            <p>
                <% if match.confirmed? %>
                    <%= link_to(match) do %>
                        <%= fa_icon "info-circle", text: "Show" %>
                    <% end %>
                <% else %>
                    <%= link_to(accept_match_path(match), method: :post) do %>
                        <%= fa_icon "pencil", text: "Accept" %>
                    <% end %>
                    <%= link_to(match, method: :delete, data: {confirm: "Are you sure that you want to delete this?"}) do %>
                        <%= fa_icon "bomb", text: "Deny" %>
                    <% end %>
                <% end %>
            </p>
        <% end %>
    </div>
</div>

