<div class="card">
    <h5 class="card-header"><%= fa_icon "users", text: "Your Organizations" %></h5>
    <div class="card-body">
        <% admin_organizations = Administrator.all.where(user_id: current_user.id) %>
        <% if admin_organizations.size > 0 %>
            <% admin_organizations.each do |admin_organization| %>
                <% organization = Organization.find(admin_organization.organization_id) %>
                <h5 class="card-title"><%= organization.name %></h5>
                <p>
                    <%= link_to(organization) do %>
                        <span class="text-blue"><%= fa_icon "info-circle", text: "Show" %></span>
                    <% end %>
                </p>
            <% end %>
        <% else %>
            <h5>You haven't created any organizations yet!</h5>
        <% end %>
        <%= link_to("/organizations/new", class: "ml-2 d-inline") do %>
            <span class="text-blue"><%= fa_icon "plus", text: "Create an Organization" %></span>
        <% end %>
    </div>
</div>