<div>
    <ul>
        <li><%= fa_icon "envelope", text: "Messages" %></li>
        <li><%= fa_icon "comments", text: "Activity" %></li>
        <li><%= fa_icon "handshake-o", text: "Matches" %></li>
        <li><%= fa_icon "users", text: "Organizations" %></li>
        <li><%= fa_icon "star", text: "Badges" %></li>
    </ul>
</div>