<div>
    <ul>
        <li>
            <%= link_to(user_message_path(current_user.id)) do %>
                <%= fa_icon "envelope", text: "Messages" %>
            <% end %>
        </li>
        <li>
            <%= link_to(user_activity_path(current_user.id)) do %>
                <%= fa_icon "comments", text: "Activity" %>
            <% end %>
        <li>
            <%= link_to(user_match_path(current_user.id)) do %>
                <%= fa_icon "handshake-o", text: "Matches" %>
            <% end %>
        </li>
    </ul>
</div>