<div class="container">
    <div class ="d-flex justify-content-between flex-wrap">
        <div class="w-30 ml-3">
            <%= image_tag("users.svg", size: "200x200")%>
        </div>
        <div class="w-50 heading mr-auto p-5">
            <h1 class="d-inline">Users</h1>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col ms-12">
    <%= form_with(model: @user, url: users_path, method: :get, :class => "form-inline justify-content-center") do |form| %>
        <%= search_field_tag :search, params[:search], placeholder: "Keyword Search", class: "form-control" %>
    <%= form.submit "Search", class: "btn btn-primary" %>
    <% end %>
    </div>
</div>
<br>

<div class="row">
<table class="table">
    <thead>
        <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <% @users.each do |user| %>
        <tr>
            <td>
            <%= user.full_name %>
            </td>
            <td><%= user.email %></td>
            <td>
                <%= link_to(user) do %>
                    <span class="text-blue"><%= fa_icon "info-circle", text: "Show" %></span>
                <% end %>
            </td>
        </tr>
        <% end %>
        </tbody>
    </table>
    <%= paginate @users %>
</div>