<% matched = false %>
<% matches = Match.all.where(post_id: post.id) %>
<% matches.each do |match| %>
  <% if match.user1_id == current_user.id || match.user2_id == current_user.id %>
      <% matched = true %>
  <% end %>
<% end %>

<script>
    function displayReplies(post_id) {
        if (document.getElementById(post_id).style.display == "block") {
            document.getElementById(post_id).style.display = "none";
            event.target.innerHTML = "Show Replies";
        } else {
            document.getElementById(post_id).style.display = "block";
            event.target.innerHTML = "Hide Replies";
        }
    }

</script>

<div class="card mb-5">
  <h5 class="card-header">
    <strong>
      <% if !post.is_anonymous %>
        <%= user.full_name %>
        <% if post.organization_id != nil %>
          (<%= Organization.find(post.organization_id).name %>)
        <% end %>
      <% else %>
        Anonymous
      <% end %>
    </strong>
    <small class="float-right"><%= to_datetime_string(post.created_at)%></small>
  </h5>
  <div class="card-body">
    <h5 class="card-title">
        <%= post.title %>
        <% if current_user.id != user.id && !matched %>
            <div class="float-right">
                <%= render '/layouts/match_form', match: Match.new, post_id: post.id, user1_id: current_user.id, user2_id: post.user_id %>
            </div>
        <% end %>
    </h5>
    <div class="mb-2">
      <% if post.is_request %>
        <span class="badge badge-pill badge-blue border">Help Request</span>
      <% else %>
        <span class="badge badge-pill badge-grey border border-dark">Help Offer</span>
      <% end %>
      <% post.categories.each do |cat| %>
        <span class="badge badge-pill"><%= cat %></span>
      <% end %>
    </div>
    <%= post.content %>
    <% post_id = post.id %>
    <% button_id = post.id.to_s + "button" %>
    <br><br>
    <button class="btn btn-primary mb-2" onclick="displayReplies(<%= post_id %>)">Show Replies</button>
    <div id="<%= post_id %>" style="display:none;">
        <div class="replies">
            <%= render '/layouts/minitexts', models: post.replies %>
        </div>
        <%= render '/replies/form', reply: Reply.new %>
    </div>
  </div>
  <% if owns_model?(post) %>
    <div class="card-footer text-muted">
      <%= render "/layouts/operations", edit_route: edit_post_path(post), destroy_route: post %>
    </div>
  <% end %>
</div>



