<div class="container">
    <div class ="d-flex justify-content-between flex-wrap">
        <div class="w-30">
            <%= image_tag("opinions.svg", size: "200x200")%>
        </div>
        <div class="w-70 heading mr-auto p-5">
            <h1 class="d-inline"><%= fa_icon "comments", text: "Forum" %></h1>
        </div>
    </div>
</div>
    
<div class="row">
    <div class="col ms-12">
    <%= form_with(model: @post, url: posts_path, method: :get, :class => "form-inline justify-content-center") do |form| %>
        <%= search_field_tag :search, params[:search], placeholder: "Keyword Search", class: "form-control" %>
    <%= form.submit "Search", class: "btn btn-primary" %>
    <% end %>
    </div>
</div>
<br>

<div class="row">
    <div class="col-3">
        <br>
        <br>
        <%= render 'filtering_bar', posts: @posts%>
    </div>

    <div class="col-9 ancher-text">
    <%= link_to("/posts/new", class: "ml-2 d-inline a text-reset") do %>
        <%= fa_icon "plus", text: "Create" %>
    <% end %>
    <br>
    <% if @has_category %>
        Categories Selected:  <%= @has_category.map(&:inspect).join(", ") %>
    <% end %>
<table class="table">
    <thead>
        <tr>
        <th>Title</th>
        <th>Date Posted</th>
        <th># of Replies</th>
        <th>Status</th>
        <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <% @posts.each do |post| %>
        <tr>
            <td>
            <%= post.title %>
            <% if post.pinned %>
                <span class="badge badge-secondary">
                    <%= fa_icon "tag", text: "Pinned" %>
                </span>
            <% end %>
            </td>
            <td><%= to_datetime_string(post.created_at) %></td>
            <td><%= post.replies.count %>
            <td>
                <% if post.is_request%>
                    <span class="badge badge-pill badge-primary">Help Request</span>
                <% else %>
                    <span class="badge badge-pill badge-success">Help Offer</span>
                <% end %>
            </td>
            <td>
                <%= link_to(post) do %>
                    <%= fa_icon "info-circle", text: "Show" %>
                <% end %>
                <% if owns_model?(post) %>
                    <%= render "/layouts/operations", edit_route: edit_post_path(post), destroy_route: post %>
                <% end %>
            </td>
        </tr>
        <% end %>
        </tbody>
    </table>
    </div>
    <%= paginate @posts %>
</div>