<div class="card mb-5">
  <h5 class="card-header">
    <strong>
      <% if !@post.is_anonymous %>
        <%= get_gravatar(User.find(@post.user_id), "rounded mr-2", 25) %>
        <%= @user.full_name %>
      <% else %>
        Anonymous
      <% end %>
    </strong>
    <small class="float-right"><%= to_datetime_string(@post.created_at)%></small>
  </h5>
  <div class="card-body">
    <h5 class="card-title"><%= @post.title %></h5>
    <%= @post.content %>
    <br>Categories: 
    <% @post.categories.each do |cat| %>
    <%= cat%>
    <% end %>

    <%= @post.is_request %>
    <br>
    <% if !@post.is_anonymous %>
      <h5 class="card-title">Posted by <%= @user.first_name + " " + @user.last_name%> on <%= to_datetime_string(@post.created_at)%></h5>
    <% else %>
      <h5 class="card-title">Anonymously posted on <%= to_datetime_string(@post.created_at)%></h5>
    <% end %>
    <% if @post.is_request%>
      <span class="badge badge-pill badge-primary">Help Request</span>
    <% else %>
      <span class="badge badge-pill badge-success">Help Offer</span>
    <% end %>
  </div>
  <% if owns_model?(@post) %>
    <div class="card-footer text-muted">
      <%= render "/layouts/operations", edit_route: edit_post_path(@post), destroy_route: @post %>
    </div>
  <% end %>
</div>

<div class="replies">
  <%= render '/layouts/minitexts', models: @post.replies %>
</div>

<%= render '/replies/form', reply: Reply.new %>
<%= render 'match_form', match: Match.new, post_id: @post.id, user1_id: current_user.id, user2_id: @post.user_id %>
<a href="/posts" class="btn btn-primary">Back to Posts</a>
