<div class="card mb-5">
  <h5 class="card-header"><%= @post.title %></h5>
  <div class="card-body">
    <%= @post.content %>
    <% if !@post.is_anonymous %>
      <h5 class="card-title">Posted by <%= @user.first_name + " " + @user.last_name%> on <%= to_datetime_string(@post.created_at)%></h5>
    <% else %>
      <h5 class="card-title">Anonymously posted on <%= to_datetime_string(@post.created_at)%></h5>
    <% end %>
    <% if owns_model?(@post) %>
      <%= render "/layouts/operations", edit_route: edit_post_path(@post), destroy_route: @post %>
    <% end %>
  </div>
</div>

<% @post.replies.each do |reply| %>
  <div class="row">
        <div class="card w-50 <%=reply.user_id == current_user.id ? "mr-auto" : "ml-auto" %>">
            <div class="card-body">
                <strong><%= User.find(reply.user_id).first_name %></strong>: <%= reply.content %>
                <% if owns_model?(reply) %>
                  <div><%= render "/layouts/operations", edit_route: "", destroy_route: reply %></div>
                <% end %>
            </div>
        </div>
    </div>
    <br>
<% end %>
<%= render '/replies/form', reply: Reply.new %>
<br>
<%= render 'match_form', match: Match.new, post_id: @post.id, user1_id: current_user.id, user2_id: @post.user_id %>
<br>
<a href="/posts" class="btn btn-primary mt-2">Back to Posts</a>