<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to("#", class: "navbar-brand") do %>
    <%= fa_icon "heartbeat", text: "Sana" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-sana" aria-controls="navbar-sana" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-sana">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to(posts_path, class: "nav-link") do %>
          <%= fa_icon "comments", text: "Forum" %> 
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to(matches_path, class: "nav-link") do %>
          <%= fa_icon "handshake-o", text: "Match" %>
        <% end %>
      </li>
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to(session_path(session), class: "nav-link", method: :delete) do %>
            <%= fa_icon "user-times", text: "Log out" %>
          <% end %>
        </li>
      <% else %> 
        <li class="nav-item">
          <%= link_to(new_session_path, class: "nav-link") do %>
            <%= fa_icon "user", text: "Log in" %>
          <% end %>    
        </li>
        <li class="nav-item">
          <%= link_to(new_user_path, class: "nav-link") do %>
            <%= fa_icon "user-plus", text: "Sign up" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  
</nav>