<nav class="navbar navbar-expand-lg navbar-light bg-light">
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
  <%= link_to(root_url, class: "navbar-brand") do %>
    <%= fa_icon "heartbeat", text: "Sana" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-sana" aria-controls="navbar-sana" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-sana">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to(posts_path, class: "nav-link") do %>
          Forum
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to(matches_path, class: "nav-link") do %>
          Match
        <% end %>
      </li>
      <li class="nav-item">
      <%= link_to(users_path, class: "nav-link") do %>
        Users
      <% end %>
    </li>
    </ul>
    <ul class="navbar-nav">
      <% if logged_in? %>
        <% if current_user.admin %>
          <li class="nav-item">
            <%= link_to(rails_admin_path, class: "nav-link") do %>
              <%= fa_icon "cogs", text: "Admin" %>
            <% end %>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= fa_icon "user-circle", text: current_user.first_name %>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown">
            <%= link_to(user_path(current_user), class: "dropdown-item") do %>
              <%= fa_icon "id-card", text: "Profile" %>
            <% end %>
            <%= link_to(session_path(session), class: "dropdown-item", method: :delete) do %>
              <%= fa_icon "user-times", text: "Log Out" %>
            <% end %>
          </div>
        </li>
      <% else %> 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= fa_icon "user-secret", text: "Guest" %>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown">
            <%= link_to(new_session_path, class: "dropdown-item") do %>
              <%= fa_icon "unlock-alt", text: "Log In" %>
            <% end %>    
            <%= link_to(new_user_path, class: "dropdown-item") do %>
              <%= fa_icon "user-plus", text: "Sign Up" %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  
</nav>