<% models.each do |model| %>
  <div class="row">
      <div role="alert" aria-live="assertive" aria-atomic="true" class="toast <%= model.user_id == current_user.id ? "mr-auto" : "ml-auto" %> mb-4" data-autohide="false">
          <div class="toast-header">
            <% user = User.find(model.user_id) %>
            <%= get_gravatar(user, "rounded mr-2", 20) %>
            <strong class="mr-auto"><%= user.full_name %></strong>
            <small><%= to_datetime_string(model.created_at) %></small>
          </div>
          <div class="toast-body">
            <p><%= model.content %></p>
            <% if owns_model?(model) %>
              <div><%= render "/layouts/operations", edit_route: "", destroy_route: model %></div>
            <% end %>
            <!--
            <div id="reaction">
             <%= link_to "#", data: { reflex: "click->ReactionReflex#like", id: model.id } do %>
              <%= fa_icon "thumbs-up" %><%= tag.span model.like, id:"reply-#{model.id}-likes"%>
            <% end %>
            <%= link_to "#", data: { reflex: "click->ReactionReflex#dislike", id: model.id } do %>
              <%= fa_icon "thumbs-down" %><%= tag.span model.dislike, id:"reply-#{model.id}-dislikes"%>
            <% end %>
            <%= link_to "#", data: { reflex: "click->ReactionReflex#love", id: model.id } do %>
              <%= fa_icon "heart" %><%= tag.span model.love, id:"reply-#{model.id}-loves"%>
            <% end %>
            <%= link_to "#", data: { reflex: "click->ReactionReflex#exclamation", id: model.id } do %>
              <%= fa_icon "exclamation" %><%= tag.span model.exclamation, id:"reply-#{model.id}-exclamations"%>
            <% end %>
            </div>
            -->
            <div style="float:right; margin:2px">
            </div>
          </div>
        </div>
  </div>
<% end %>