<!DOCTYPE html>
<html>
  <head>
    <title>Sana</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://hammerjs.github.io/dist/hammer.min.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
</head>

  <body>
      <%= render partial: "/layouts/header" %>
      <% if current_page?(root_url) %>
        <%= render partial: "/layouts/alert" %>
        <%= yield %>
      <% else %>
        <div class="container">
          <%= render partial: "/layouts/alert" %>
          <%= yield %>
        </div>
      <% end %>
      <%= render partial: "/layouts/footer" %>
  </body>
</html>
