<!DOCTYPE html>
<html>
  <head>
    <title>Sana</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

  <body>
      <%= render partial: "/layouts/navbar" %>
      <% if current_page?(root_url) %>
        <%= render partial: "/layouts/alert" %>
        <%= yield %>
      <% else %>
        <div class="container">
          <%= render partial: "/layouts/alert" %>
          <%= yield %>
        </div>
      <% end %>
      <%= render partial: "/layouts/footer" %>
  </body>
</html>
